.logo-header {
	width: 200px;
	margin-left: 20px
}

.sidebar {
	float: left;
	background-color: #2F2F2F;
	color: white;
	width: 20vw;
	height: 100vh;
}

.content {
	width: 80vw;
	height: 100%;
	margin-left: 20vw;
}

.weigth-chart {
	width: 30vw;
	height: 200px;
}
