<ion-header>
  <ion-toolbar color="dark">
    <img src="assets/imgs/LogoDark.png" class="logo-header"/>
  </ion-toolbar>
</ion-header>

<ion-content>

	<div class="sidebar">
	</div>

	<div class="content">
		<ion-grid style="height: 100%">

			<ion-card>
				<p>Vos Succès</p>
				<div class="medal-container">
					<ul>
						<li *ngFor="let medal of medals">
							<ion-card size="2">
								<ion-card-header>
									{{medal.picture}}
								</ion-card-header>
								<ion-card-content>
									{{medal.achievment}}
								</ion-card-content>
							</ion-card>
						</li>
					</ul>
				</div>
			</ion-card>

			<ion-row>

				<ion-col size-xs="12" size-md="6" size-lg="4">
					<ion-card>
						<p>Informations Personnelles</p>
						<form action="#" #profileForm="ngForm">
							<input type="text" placeholder="Prénom" [(ngModel)]="user.name" name="name">
							<input type="text" placeholder="Taille(cm)" [(ngModel)]="user.size" name="size">
							<input type="email" placeholder="Email" [(ngModel)]="user.email" name="email">
							<input type="password" placeholder="Mot de passe" [(ngModel)]="password" name="password">
							<input type="password" placeholder="Confirmation du mot de passe" [(ngModel)]="password_confirmation" name="password_confirmation">
							<button (click)="submitUser()" [disabled]="!validCredentials() || userUpdate">Valider</button>
						</form>
					</ion-card>
				</ion-col>

				<ion-col size-xs="12" size-md="6" size-lg="8">
					<ion-card>

						<ion-row>
							<ion-col size="8">
								<p>Historique poids</p>
							</ion-col>
							<ion-col size="4">
								<button [disabled]="weightUpdate" *ngIf="weightChecked()" (click)="removeWeight()" class="array-button"><ion-icon name="md-trash"></ion-icon></button>
								<button [disabled]="weightUpdate" (click)="addWeight()" class="array-button"><ion-icon name="md-add"></ion-icon></button>
							</ion-col>
						</ion-row>

						<ion-card-content>
							<table>
								<tr>
									<th><input type="checkbox" id="mainCheckbox" /></th>
									<th>Date</th>
									<th>Poids(kg.*)</th>
									<th>Différence(kg.*)</th>
								</tr>
								<br />
								<tr *ngFor="let data of weights; let i = index">
									<th class="container"><input type="checkbox" id="{{'checkbox' + i}}" /></th>
									<th class="container" id="{{'container-calendar' + i}}">
										<div class="flex">
											<ng2-flatpickr [config]="exampleOptions" class="custom-calendar" id="{{'calendar' + i}}"></ng2-flatpickr>
											<input type="text" placeholder="date" id="{{'date' + i}}" [(ngModel)]="data.date"/>
										</div>
									</th>
									<th><input type="number" id="{{'weight' + i}}" placeholder="poids" [(ngModel)]="data.value" step="0.01"/></th>
									<th><input type="number" id="{{'diff' + i}}" placeholder="différence" [(ngModel)]="data.diff" step="0.01" disabled/></th>
								</tr>
							</table>
						</ion-card-content>
						<div class="center">
							<button [disabled]="weightUpdate" (click)="saveWeights()">Enregistrer</button>
						</div>

					</ion-card>
				</ion-col>

			</ion-row>

		</ion-grid>
	</div>

</ion-content>
