<!-- <ion-header class="header">
	<ul class="header-ul">
		<li>
			<a class="link-item">
				<ion-icon name="md-call" class="header-item"></ion-icon>
				<span class="contact-info">+33684355629</span>
			</a>
		</li>
		<li>
			<a class="link-item">
				<ion-icon name="md-mail" class="header-item"></ion-icon>
				<span class="contact-info">axel.vandenabeele@gmail.com</span>
			</a>
		</li>
	</ul>
	<ion-icon name="md-call" class="header-logo"></ion-icon>
</ion-header>

<ion-content>

	<div class="full-width center-text">
		<h3 class="title">Rez de jardin</h3>
		<hr class="small-line"/>
	</div>

	<ion-grid class="no-padding">
		<ion-row class="no-padding">

			<ion-col size-sm="12" size-lg="6" class="no-padding">
				<ion-slides class="slides" pager #slides [options]="slideOpts" (ionSlideWillChange)="changeSlide('img')" (ionSlideReachStart)="isFirstSlide('img')" (ionSlideReachEnd)="isLastSlide('img')">
					<ion-slide *ngFor="let img of imgs">
						<img class="img-slide" src="{{img.path}}" imageViewer/>
					</ion-slide>
				</ion-slides>

				<ion-icon name="ios-arrow-dropleft" class="slide-left-selector img-selector" *ngIf="!firstImg" (click)="showPreviousSlide('img')"></ion-icon>
				<ion-icon name="ios-arrow-dropright" class="slide-right-selector img-selector" *ngIf="!lastImg" (click)="showNextSlide('img')"></ion-icon>

			</ion-col>

			<ion-col size-sm="12" size-lg="6">
				<ion-card class="full-height">
					<ion-card-title class="card-title">
						Information sur la Villa
					</ion-card-title>
					<ion-card-content>
						<h6>Adresse du lieu loué :</h6>
						<p>Résidences du Golfe de Lava, N°C17, 20167 APPIETTO</p>

						<h6>Type de location :</h6>
						<p>Rez de jardinet d’une villa divisée en deux appartements indépendants.</p>

						<h6>Surface habitable :</h6>
						<p>67m² + grande terrasse de 35m² avec barbecue</p>

						<h6>Exposition :</h6>
						<p>SUD OUEST</p>
					</ion-card-content>
				</ion-card>
			</ion-col>

			<ion-col size="12" class="map">
				Map
			</ion-col>

			<ion-col size-sm="12" size-lg="6" class="no-padding">
				<ion-slides class="slides" pager #slides1>
					<ion-slide *ngFor="let plan of plans">
						<img class="plan-slide" src="{{plan.path}}" imageViewer/>
					</ion-slide>
				</ion-slides>
			</ion-col>

			<ion-col size-sm="12" size-lg="6">
				<ion-card class="full-height">
					<ion-card-title class="card-title">
						Détail des pièces
					</ion-card-title>
					<ion-card-content>
						<ul>
							<li *ngFor="let e of rooms">
								{{e.body}}
							</li>
						</ul>
					</ion-card-content>
				</ion-card>
			</ion-col>

			<ion-col size="12">
				<ion-card class="full-height">
					<ion-card-title class="card-title">
						Équipements
					</ion-card-title>
					<ion-card-content>
						<ul>
							<li *ngFor="let e of equipments">
								{{e.body}}
							</li>
						</ul>
						<p>Le linge de couchage (Draps, Oreillers) ainsi que le linge de toilette n’est pas fourni. Il n’y a pas de stationnement privatif devant l’appartement, le stationnements des véhicules se fait idéalement sur le parking de la plage à proximité de l’appartement +/- 150 mètres. Pas de téléphone fixe (le portable et la 3G passent bien)</p>
					</ion-card-content>
				</ion-card>
			</ion-col>

			<ion-col size-sm="12" size-lg="6" class="no-padding">
				<ion-slides class="slides" pager #slides2 [options]="slideOpts" (ionSlideWillChange)="changeSlide('location')" (ionSlideReachStart)="isFirstSlide('location')" (ionSlideReachEnd)="isLastSlide('location')">
					<ion-slide *ngFor="let location of locations_pics">
						<img class="img-slide" src="{{location.path}}" imageViewer/>
					</ion-slide>
				</ion-slides>

				<ion-icon name="ios-arrow-dropleft" class="slide-left-selector img-selector" *ngIf="!firstLocation" (click)="showPreviousSlide('location')"></ion-icon>
				<ion-icon name="ios-arrow-dropright" class="slide-right-selector img-selector" *ngIf="!lastLocation" (click)="showNextSlide('location')"></ion-icon>

			</ion-col>

			<ion-col size-sm="12" size-lg="6">
				<ion-card class="full-height">
					<ion-card-title class="card-title">
						Information sur le lieu
					</ion-card-title>
					<ion-card-content>
						<p>{{locations[location_index].body}}</p>
						<p>{{locations[location_index].addresse}}</p>
						<p>{{locations[location_index].phone_number}}</p>
					</ion-card-content>
				</ion-card>
			</ion-col>

		</ion-row>
	</ion-grid>

	<ion-grid>

		<div class="container">
			<p>
				À 19 km au Nord d'Ajaccio, les résidences du Golfe de lava se trouvent dans
				le petit village de Lava, en bord de	mer aux confins d'une route typique et sinueuse.
			</p>
			<p>
				Pour y parvenir, à partir d'Ajaccio, vous devez prendre la route de Sagone/Cargèse
				(départementale D81) pendant environ 10 kms puis tourner à gauche en direction du golfe
				de Lava sur la D381, il ne vous restera plus que 9 kilomètres pour atteindre l’entrée
				des résidences. Tout de suite en arrivant au Golfe de lava, il faut prendre la deuxième route
				montante sur votre droite (vous devez laisser sur votre droite une première route très raide en macadam).
				A	30 mètres vous apercevrez sur votre gauche un panneau «GARDIEN»,
				vous continuez tout droit environ 100 mètres, l’entrée de l’appartement est située sur votre
				droite au numéro C17 au pied d’un bel Eucalyptus.
			</p>
			<p>
				En cas de problème vous pouvez soit me contacter au 06 08 06 18 52 ou bien contacter directement Marina
				(gérante de la supérette UTILE de la résidence) au 06 27 69 66 35.
			</p>
		</div>

	</ion-grid>
</ion-content> -->


<ion-header>
	<ion-toolbar class="toolbar">
		<ion-title>
			Villa Corse
		</ion-title>
		<ion-buttons slot="end">
			<ion-button>
				<ion-icon name="call" (click)="contact()"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>

	<ion-slides class="slides" pager #slides [options]="slideOpts" (ionSlideWillChange)="changeSlide('img')" (ionSlideReachStart)="isFirstSlide('img')" (ionSlideReachEnd)="isLastSlide('img')">
		<ion-slide class="slide" *ngFor="let img of imgs">
			<img class="img-slide" src="{{img.path}}" imageViewer/>
		</ion-slide>
	</ion-slides>

	<button class="button-slides button-slides-left" *ngIf="!firstImg" (click)="showPreviousSlide('img')">
		<ion-icon class="button-slides-left-icon" name="arrow-dropleft"></ion-icon>
	</button>
	<button class="button-slides button-slides-right" *ngIf="!lastImg" (click)="showNextSlide('img')">
		<ion-icon class="button-slides-right-icon" name="arrow-dropright"></ion-icon>
	</button>

	<div class="slide-pic-number">
		<ion-icon name="camera"></ion-icon>
		<label>{{imgs.length}}</label>
	</div>

</ion-content>
